*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
app/release/
app/debug/

.gradle/
build/
app/build/
*/build/
!gradle-wrapper.jar

local.properties

*.log

.idea/
*.iml
.navigation/
captures/
.idea_modules/
android/*.iml
android/*.ipr
android/*.iws

*.jks
*.keystore
*.keys

google-services.json
google-services.json.orig

**/google-services.xml

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

.DS_Store
Thumbs.db

ehthumbs.db
[Dd]esktop.ini

*~

*.bak
*.swp
*.swo

*.iws
*.ipr
*.ids
*.orig

.externalNativeBuild
.cxx/

obj/
libs/
*.so

.apt_generated

*.kotlin_module

*.hprof

.vscode/

.flutter-plugins
.flutter-plugins-dependencies
.packages
Flutter.pub-cache/

._*

bazel-*

app/google-services/
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml